<% include partials/header %>

<div class="container my-5 pb-2 rounded border border-dark">
    <h2 class='text-center mb-3'><%= post.title%></h2>
    <img  id='post_image'src="<%= post.image %>" class="rounded mx-auto d-block" alt="">
    
        <hr>
        <p class='lead mt-4'><%- post.content%></p>
    <a href="/blog/<%=post.id%>/edit"><button type="button" class="btn btn-outline-warning">Update</button></a>
    <form action="/blog/<%=post.id%>?_method=DELETE" method="post" style = 'display:inline;'>
        <button type="submit" class="btn btn-outline-danger">Delete</button>
    </form>
</div>


<% include partials/footer %>
