<% include ../partials/header %>

<div class="container">
    <h2 class="text-center">Edit <%=campground.name%></h2>
    <div class='container_form'>
        <form action="/campgrounds/<%=campground.id%>?_method=PUT" method="post">
            <div class="form-group">
            <label for="name">The Name of your Campground</label>
            <input value='<%= campground.name%>' type="text" class="form-control" name="name" id="name" aria-describedby="Name of campGround" placeholder="Add your CampGround">
            <small id="Name of campGround" class="form-text text-muted">Give a fancy name for your Favorite place</small>
            </div>
            <div class="form-group">
            <label for="image">Your Campground Image</label>
            <input value='<%= campground.imgUrl%>' type="text" class="form-control" name="imgUrl" id="image" aria-describedby="URl image" placeholder="Url to your image">
            <small id="URl image" class="form-text text-muted">Extenal link to your campground picture.</small>
            </div>
            <div class="form-group">
              <label for="price">Price</label>
              <input value= '<%= campground.price%>' type="number" step="0.01" name="price" id="price" class="form-control" placeholder="" aria-describedby="price per night">
              <small id="price per night" class="text-muted">Price per night in $</small>
            </div>
            <div class="form-group">
            <label for="description">Add your Campground description</label>
            <textarea class='form-control' name="description" id="description" rows="5" aria-describedby="Description" placeholder="Be as drescriptive as possible"><%= campground.description%></textarea>
            <small id="description" class="form-text text-muted">Make your place special with a good description.</small>
            </div>
            
            
            <button type="submit" class="btn btn-outline-warning btn-block">Update</button>
        </form>
    </div >
</div>

<script src="https://cdn.ckeditor.com/4.9.1/standard/ckeditor.js"></script>
<script>
    CKEDITOR.replace( 'description' );
</script> 


<% include ../partials/footer %>